; This is the config file for PHiliP.

[irc]
host = "irc.freenode.net"
port = 6667
name = "PHiliP_bot"
password = "no_password!"
nick = "PHiliP_bot"
channel = "#PHilip-test"


; Enter database information here.
; Could be used by plugins if they needed persistent data
; Not implemented yet
[database]


; List plugins here.
; Format: PluginClassName = [1|0] (1 = enabled, 0 = disabled)
[plugins]
FirePeople = 1
Quit = 1


; Example of configuring plugins
; Configuration sections match plugin names
; Arrays of values are passed to the plugin's init() method.
[Quit]
allowed_users = bob, steve, larry

