; This is the config file for PHiliP.

[irc]
host = "irc.freenode.net"
port = 6667
name = "PHiliP_bot"
password = "no_password!"
nick = "PHiliP_bot"
channel = "#PHilip-test"


; Enter database information here
; Could be used by plugins if they needed persistent data
[database]


; List plugins here
; Expected format:
;   PluginClassName = [1|0] (1 = enabled, 0 = disabled)
[plugins]
FirePeople = 1
